@charset "UTF-8";

/*Web Fonts*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300);
/*==========*/

html, body {
    color: #666;
    min-height: 100%;
    margin:0;
}



/*==========*/
/*Add CSS*/
* {
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

input,
select,
.form-control {
    border: 1px solid #aaa;
    border-radius: 0;
    box-shadow: none;
    height: 34px;
}
input:focus,
select:focus,
.form-control:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
/*==========*/
/*font*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
div,
label,
ruby {
    font-family: "Open Sans", "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.05em;
    margin: 0;
}
/*==========*/



/*Add CSS*/
/*Top-area*/
#top-area {
  color: #fff;
  height: 100%;
  width: 100%;
  background: url("../img/test-img2.jpg") no-repeat center;
  background-size: cover;
  position: fixed;  
  z-index: -9999;
}

#site-info {
  position: absolute;
  top: 20%;
  width: 100%;
}

#top-title {
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0.1em;
  text-align: center;
  width: 100%;
}

#site-intro {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

#top-area a {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.75;
  height: 50px;
  width: 200px;
  position: relative;
  left: 50%;
  margin-left: -100px;
  margin-top: 20px;
}
#top-area a:hover {
  background-color: #fff;
  color: #01a6b1;
  text-decoration: none;
}
/*==========*/
/*common*/
.row {
  margin: 0;
}

.co-wrapper {
  padding: 0 5%;
}

.contents-title {
  font-size: 30px;
  font-weight: 300;
  padding: 20px 0;
}
.inner-title {
  font-size: 20px;
  font-weight: 300;
  padding-top: 10px;
}
.center {
  text-align: center;
}

.self-intro {
  margin-bottom: 40px;
}

.odd {
  background-color: #fff;
  color: #666;
  padding-bottom: 20px;
}
.even {
  background-color: rgba(1,166,177,1);
  color: #fff;
  padding-bottom: 20px;
}

.exp {
  background-color: rgba(243,255,226,.9);
  color: #666;
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.exp h3 {
  font-weight: 300;
  font-size: 30px;
}
.exp-container {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/*==========*/
/*Contents-area*/
#contents {
  /*background-color: #fff;*/
  position: absolute;
  top: 100%;
  width: 100%;
}

.col-sm-4 {
  position: relative;
}
#our-team img {
  border: 3px solid #01a6b1;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  position: relative;
  left: 50%;
  margin-left: -53px;
}
/*==========*/
/*ux-tools*/
#ux-tools {
  padding: 0;
}

#ux-tools img {
  border: 3px solid #fff;
  border-radius: 3px;
  height: 100px;
  width: 100px;
  position: relative;
  left: 50%;
  margin-left: -53px;
}

#ux-tools .col-sm-4 {
  padding: 0;
}

#persona {
  background: url("../img/persona.jpg") no-repeat top left;
  background-size: cover;
}
#interview {
  background: url("../img/interview.jpg") no-repeat center center;
  background-size: cover;
}
#prototyping {
  background: url("../img/prototyping.jpg") no-repeat center center;
  background-size: cover;
}

#persona-exp,
#interview-exp,
#prototyping-exp {
  opacity: 0;
}
#persona-exp:hover,
#interview-exp:hover,
#prototyping-exp:hover {
  opacity: 1;
}
/*==========*/
/*Footer*/
footer {
  background-color: rgba(243,255,226,.5);
  height: 100px;
  width: 100%;
}

#footer-content {
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px #aaa;
  position: relative;
  top: 37px;
}
/*==========*/
/*==========*/